<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{ background-position: center;
        background-size: 100%;
        padding: 200px;
        padding-left: 500px;
        border-style: groove;
        }
    </style>
</head>
<body style="background-image:url('/static/image/music.webp');">
<h1>Welcome</h1>
{% if current_user %}
<h3>Welcome Back</h3>{{current_user}}
<a href="{% url 'logout' %}"><button>Logout</button></a><br>
<label>Did you want to go Home?</label><a href="index">Home</a>

{% else %}
<div>
    <label>You have an Account:</label>
<a href="login">Login</a><br>
</div>
<div>
    <label>New User:</label><a href="signup">Signup</a>
</div>
{% endif %}
</body>
</html>
